# Firebase Email Function URL (set after deploying Firebase function)
# Run: cd firebase-functions && ./DEPLOY.sh
EXPO_PUBLIC_FIREBASE_EMAIL_FUNCTION_URL=https://us-central1-studentkonnectcom.cloudfunctions.net/Fairprep_email
